.cellListEvenItem {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #EEE;
	margin: 5px 0px;
	padding: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.cellListOddItem {
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #CCC;
	margin: 5px 0px;
	padding: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.cellListWidget {
	margin-top:20px;	
}

.cellListSelectedItem {

}

.cellListKeyboardSelectedItem {
	
}